@charset "UTF-8";


/*フォント
横から出るタイプのメニュー
ナビ
フッター*/


/*フォント*/
.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}
.heading-large {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}


/*ドロワーメニュー*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}


.drawer {
    position: relative;
}

.drawer-toggle {
    font-size: 24px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}

.drawer-menu {
    position: fixed;
    top: 0;
    right: -250px; /* 初期状態でメニューを隠す */
    width: 250px;
    height: 350px;
    background-color: #333;
    color: #fff;
    overflow-x: hidden;
    transition: 0.3s; /* アニメーションのスムーズさ */
    padding-top: 60px;
}

.drawer-menu a {
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.drawer-menu a:hover {
    background-color: #fff;
}

.drawer-menu.open {
    right: 0; /* メニューが表示される位置 */
}

.content {
    margin-right: 0;
    padding: 16px;
}

.drawer-close {
    font-size: 36px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 20px;
}



/*ナビ*/
.main-nav {
    display: flex;
    justify-content: center;/*ど真ん中*/
    background-color: #333;/*背景*/
}
nav a {
    color: white;/*文字の色*/
    padding: 23px 20px;/*文字のサイズ*/
    text-decoration: none;
    text-align: center;/*ど真ん中*/
}
nav a:hover {
    background-color: #ddd;/*選択したときの背景の色*/
    color: black;/*選択したときの文字の色*/
}




/*フッター部分*/
.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
    flex: 1;
}


.info th,
.info td {
    border-bottom: 1px solid #c9c2bc;
}
.info th {
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.info td {
    padding: 1rem 0;
}

/*コピーライト*/
.copyright {
    background-color: #432;
    text-align: center;
    padding: 2rem 0;
    margin-top: 6rem;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
}


/*各ページで変更
にじさんじ*/

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}
h1 {
    text-align: center;
}
.YouTube {
    margin-bottom: 40px;
}
.YouTube img {
    width: 80%;
    height: 600px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.YouTube h2 {
    color: #333;
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}
.YouTube p {
    font-size: 20px;
}


.YouTube-douga {
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
}



/*アイコン*/

.grid {
    display: grid;/*タイル型*/  
    gap: 3rem 2rem;/*タイル間の間隔*/
    grid-template-columns: repeat(3, 1fr);/*1列3つ並ぶ*/
    text-align: center;/*ど真ん中*/
}

.grid-1 {
    display: grid;/*タイル型*/  
    gap: 3rem 2rem;/*タイル間の間隔*/
    grid-template-columns: repeat(2, 1fr);/*1列2つ並ぶ*/
    text-align: center;/*ど真ん中*/
}

.item img {
    aspect-ratio: 1/1;/*1:1*/
    object-fit: cover;/*はみ出し部分カット */
    border-radius: 16px;
    max-width: 60%;
    max-height: 60%;
}

img.miniimage { display: none; }   /* ※1 */

/* ▼表示領域が600px以上の場合 */
@media (min-width: 600px) {
   img.miniimage { display: none; }  /* miniを非表示 */
   img.bigimage  { display: block; } /* bigを表示 */
}
/* ▼表示領域が600px未満の場合 */
@media (max-width: 599px) {
   img.miniimage { display: block; } /* miniを表示 */
   img.bigimage  { display: none; }  /* bigを非表示 */
}

.resizeimage img { width: 100%; }